<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">CANOCU</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Inicio", root_path %></li>
      <li><%= link_to "Acerca", acerca_path %></li>
     </ul>

      <ul class="nav navbar-nav navbar-right">

       <% if user_signed_in? %> 

        <li><%= link_to "Nueva Guia", new_pin_path %></li>

        <li><%= link_to "Editar perfil", edit_user_registration_path %></li>

        <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>

          <% else %>

       <li><%= link_to "Iniciar Sesión", new_user_session_path %></li>

           <% end %>

      </ul>

  </div><!-- /.navbar-collapse -->
</nav>